
<header>


    <div id="carrito_de_compras" class="carrito_de_compras">
        <div class="contenedor-carrito_de_compras">
            <div class="enlaces_carrito_de_compras" id="enlaces_carrito_de_compras">

                <a href="" id="enlace-carrito_de_compras" class="btn-header_carrito_de_compras">
                    MI Carrito <img src="/images/shopping.png" alt="carrito" class="carrito">
                </a>
                <a href="/admin/login/logout" id="enlace-cerrarsesion" class="cerra_session_carrito_de_compras">
                    Cerrar sesión <img src="/images/usuario_unblock.png" alt="usuario">
                </a>

                <a href="" id="enlace-perfilusuario" class="enlace-perfilusuario">
                    <span>Bienvenido/a {{usuario}} </span><img src="/images/usuario.png" alt="usuario" class="usuario">
                </a>
            </div>
            
        </div>
<div class="textos_carrito_de_compras">
                <h1>pagina en construccion</h1>

            </div>

    </div>
 


</header>
<!-- jQuery -->
  <script src="javascripts/jquery.js" defer></script>
  
  <!-- Main Script -->
  <script src="javascripts/main.js" defer></script>
  
  <!-- Filtro Script -->
  <script src="javascripts/filtro.js" defer></script>
  
  <!-- Swiffy Slider JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
  
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
  
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/808781cc1c.js" crossorigin="anonymous" defer></script>
  