<div class="modal_container">
    <form action="/admin/login" method="post" id="formulario_registro">
        <div id="login-box" class="registro">
            <div class="left">
                <h1>INICIAR SESIÓN</h1>
                <input type="text" name="usuario" placeholder="Nombre y Apellido" class="input_registro"
                    aria-describedby="emailHelp" id="usuario" />
                <input type="password" name="password" placeholder="Password" class="input_registro"
                    id="password" />
                <button type="submit" class="boton_logearse">INGRESAR</button>
            </div>
            <div class="right">
                <h1>REGÍSTRATE</h1>
                <button class="social-signin facebook">Login con Facebook</button>
                <button class="social-signin twitter">Login con Twitter</button>
                <button class="social-signin google">Login con Google</button>
            </div>
            <div class="or">OR</div>
            <a id="cerrar" href="/" class="modal__close">&times;</a>
        </div>
    </form>
    <div class="usuario_incorrecto">
        {{#if error}}
        <p class="usuario_incorrecto_login">Usuario incorrecto o Contraseña incorrecta</p>
        {{/if}}
    </div>
</div>
