<section class="team contenedor" id="equipo">
    <h3>Nuestro equipo</h3>
    <p class="after">Conozca a nuestra gente de la empresa</p>
    <div class="grupocard">

        <div
            class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
            <ul class="slider-container py-4">
                <li>
                    <!-- <li class="slide-visible"> -->
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros01.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body p-3 p-xl-5">
                            <h3 class="card-title h5">Director General </h3>
                            <p class="card-text">CEO - Lic. LOPEZ Juan Manuel
                                LOPEZ Juan Manuel es el director de la fábrica de cervezas artezanal
                                CRAFT desde 2010.
                                Encargado de las operaciones diarias y estratégicas para garantizar la producción
                                eficiente y
                                la calidad del producto.</p>
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- <li class="slide-visible"> -->
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros02.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body p-3 p-xl-5">
                            <h3 class="card-title h5">Socio Fundador </h3>
                            <p class="card-text">Lic. Perez Mauro es el socio fundador de la fábrica de
                                cervezas artezanal CRAFT desde 2009
                                Desempeña un papel fundamental para la gestión y dirección del negocio,
                                participando en la toma de decisiones estratégicas y operativas.
                            </p>
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros03.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body p-3 p-xl-5">
                            <h3 class="card-title h5">Lic. en Marketing</h3>
                            <p class="card-text">SALA Maria Jose
                                es la encargada del marketing de la
                                fábrica de cervezas artezanal CRAFT desde 2011.
                                Es la responsable de desarrollar estrategias de promoción y publicidad
                                para aumentar la visibilidad y las ventas de la marca,
                                así como de investigar el mercado para identificar
                                tendencias en la industria cervecera
                            </p>
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros01.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body  p-3 p-xl-5">
                            <h3 class="card-title h5">LIC. en RRHH </h3>
                            <p class="card-text">SMEDINA Maria Laura es la encargada de RRHH de la
                                fábrica de cervezas artezanal CRAFT desde 2011.Es la responsable de gestionar el
                                reclutamiento,
                                selección y capacitación del personal, así como de administrar
                                las políticas laborales y resolver conflictos laborales.</p>
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros02.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body  p-3 p-xl-5">
                            <h3 class="card-title h5">Up, up, up in the Air</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur
                                adipisicinfffffffffffffffffffffffffffffffffg elit. Officia
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="card shadow h-100">
                        <div class="ratio ratio-16x9">
                            <img src="/images/nosotros03.jpg" class="card-img-top" loading="lazy" alt="...">
                        </div>
                        <div class="card-body  p-3 p-xl-5">
                            <h3 class="card-title h5">A climbers birds view</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consedeleniti illum
                                nfffffffffffffffffffffffffffffam
                                hic ab ipsum?</p>
                            <div><a href="#" class="btn btn-primary">mas informacion</a>
                            </div>
                        </div>
                </li>
            </ul>

            <button type="button" class="slider-nav" aria-label="Go left"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

            <div class="slider-indicators">
                <button class="active" aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
            </div>
        </div>


    </div>
</section>




<section class="about" id="servicio">
    <div class="contenedor">
        <h3>Nuestras Cervezas</h3>
        <p class="after">Siempre mejorando para ti</p>
        <div class="servicios">
            <div class="caja-servicios">
                <img src="img/heart.png" alt="">
                <h4>Creativos y asombrosos</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="caja-servicios">
                <img src="img/responsive.png" alt="">
                <h4>Creativos y asombrosos</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="caja-servicios">
                <img src="img/efectos.png" alt="">
                <h4>Creativos y asombrosos</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>
</section>

<section class="work contenedor" id="trabajo">
    <h3>Nuestras Cervezas</h3>
    <p class="after">Hacemos la cerveza mas artesanal de nuestro pais - Algo extraordinario</p>
    <div class="botones-work">
        <ul>
            <li class="filter active" data-nombre='todos'>Todas</li>
            <li class="filter" data-nombre='diseño'>CRAFT IPA-CRAFT</li>
            <li class="filter" data-nombre='programacion'>NEGRA-CRAFT</li>
            <li class="filter" data-nombre='marketing'>ROJA-CRFAT</li>
            <li class="filter" data-nombre='marketing2'>SMOOTH-CRFAT</li>
        </ul>
    </div>


    <div class="galeria-work">

        <div class="cont-work programacion">
            <div class="img-work">
                <img src="/images/cervezas/negra_1.png" alt="">
            </div>
            <div class="textos-work">
                <!-- <a href="#mascara" ><h4>NEGRA-CRAFT</h4></a> -->
                <h4>NEGRA-CRAFT</h4>
            </div>
        </div>


        <div class="cont-work programacion">
            <div class="img-work">
                <img src="/images/cervezas/negra_2.png" alt="">
            </div>
            <div class="textos-work">
                <h4>NEGRA-CRAFT</h4>
            </div>
        </div>


        <div class="cont-work programacion">
            <div class="img-work">
                <img src="/images/cervezas/negra_3.png" alt="">
            </div>
            <div class="textos-work">
                <h4>NEGRA-CRAFT</h4>
            </div>
        </div>


        <div class="cont-work diseño">
            <div class="img-work">
                <img src="/images/cervezas/verde_1.png" alt="">
            </div>
            <div class="textos-work">
                <h4>CRAFT IPA-CRAFT</h4>
            </div>
        </div>


        <div class="cont-work diseño">
            <div class="img-work">
                <img src="/images/cervezas/verde_2.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>CRAFT IPA-CRAFT</h4>
            </div>
        </div>


        <div class="cont-work diseño">
            <div class="img-work">
                <img src="/images/cervezas/verde_3.png" alt="">
            </div>
            <div class="textos-work">
                <h4>CRAFT IPA-CRAFT</h4>
            </div>
        </div>



        <div class="cont-work marketing">
            <div class="img-work">
                <img src="/images/cervezas/roja_1.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>ROJA-CRATF</h4>
            </div>
        </div>




        <div class="cont-work marketing">
            <div class="img-work">
                <img src="/images/cervezas/roja_2.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>ROJA-CRATF</h4>
            </div>
        </div>


        <div class="cont-work marketing">
            <div class="img-work">
                <img src="/images/cervezas/roja_3.png" alt="">
            </div>
            <div class="textos-work">
                <h4>ROJA-CRATF</h4>
            </div>
        </div>

        <div class="cont-work marketing2">
            <div class="img-work">
                <img src="/images/cervezas/rubia_1.png" alt="">
            </div>
            <div class="textos-work">
                <h4>SMOOTH-CRATF</h4>
            </div>
        </div>


        <div class="cont-work marketing2">
            <div class="img-work">
                <img src="/images/cervezas/rubia_2.png" alt="">
            </div>
            <div class="textos-work">
                <h4>SMOOTH-CRATF</h4>
            </div>
        </div>


        <div class="cont-work marketing2">
            <div class="img-work">
                <img src="/images/cervezas/rubia_3.png" alt="">
            </div>
            <div class="textos-work">
                <h4>SMOOTH-CRATF</h4>
            </div>
        </div>
    </div>
</section>





<footer>
    <section class="team_contenedor" id="contacto">


        <div class="footer contenedor">
            <div class="marca-logo">
                <img src="/images/logo-01-01.png" alt="">
            </div>

            <hr>
            <br>


            <div class="iconos">

                <!-- <img src="/style/img/whasaap_Mesa de trabajo 1.png" alt=""> -->
                <img src="/images/youtube_Mesa de trabajo 1.png" alt="">

                <img src="/images/instagram_Mesa de trabajo 1.png" alt="">

                <img src="/images/maps_Mesa de trabajo 1.png" alt="maps">



            </div>
            <br>
            <hr>
            <div class="iconos2">
                <p>&#169; 2024 hecho por Estudio Marketing</p>


                <img src="/images/logo-empresa-01-01-01.png" alt="">
            </div>

        </div>

    </section>




</footer>

<section class="container_mensaje">
    <form action="/" method="post" id="formulario_mensaje">
        <div id="box-mensaje" id="mensaje_web">
            <div class="left_mensaje">

                <h1>TU MENSAJE AQUI</h1>

                <p>
                    <label for="nombre" class="colocar_nombre"><span class="obligatorio">* </span></label>
                    <input type="text" name="nombre" placeholder="Nombre" class="input_mensaje" />
                </p>

                <p>
                    <label for="apellido" class="colocar_apellido"><span class="obligatorio">*</span></label>
                    <input type="text" name="apellido" placeholder="Apellido" class="input_mensaje" />
                </p>

                <p>
                    <label for="asunto" class="colocar_asunto"><span class="obligatorio">*</span></label>
                    <input type="text" name="asunto" placeholder="Asunto" class="input_mensaje" />
                </p>

                <p>
                    <label for="email" class="colocar_mail"><span class="obligatorio">*</span></label>
                    {{!-- <input type="email" name="email" placeholder="E-mail" /> --}}
                    <input type="text" name="mail" placeholder="E-mail" class="input_mensaje" />
                </p>


                <p>
                    <textarea name="mensaje" id="" cols="85" rows="3" placeholder="Escribe aqui tu mensaje..."
                        required="obligatorio"></textarea>
                </p>
                <p class="aviso"><span class="obligatorio"> * </span>los campos son obligatorios.</p>

                <div class="olvidaste">
                    <a href="#" class=" font-medium text-green-500 hover:text-green-400">Olvidaste tu Contraseña? click
                        aquí</a>
                </div>

                <input type="submit" value="Enviar" onclick="Mostrar_mensaje_entregado()"
                    class="boton_enviar_mensaje" />




            </div>

        </div>

    </form>
    <p>{{message}}</p>


</section>

 <section class="modal" id="registrarse">

    <div class="modal_conteiner">

        {{#unless conocido}}
        <p>no te conosco</p>
        <form action="/ingresar" method="post" id="formulario_registro">
            <div id="login-box" id="registro">
                <div class="left">
                    {{!-- <h1>REGISTRATE</h1> --}}
                    <h1>INICIAR SESION</h1>


                    <input type="text" name="username" placeholder="Nombre y Apellido" class="input_registro" />
                    <input type="email" name="email" placeholder="E-mail" class="input_registro" />
                    <input type="password" name="password" placeholder="Password" class="input_registro" />
                    <input type="password" name="password2" placeholder="Repite password" class="input_registro" />
                    <button class="boton_logearse">INGRESAR</button>

                </div>

                <div class="right">
                    <h1 class="registrate">REGISTRATE</h1>

                    <button class="social-signin facebook">Login con facebook</button>
                    <button class="social-signin twitter">Login con Twitter</button>
                    <button class="social-signin google">Login con Google</button>

                </div>

                <div class="or">OR</div>
                {{!-- <a id="cerrar" href="#" onclick="javascript:cerrar_formulario()">&times;</a> --}}
                <a id="cerrar" href="#" class="modal__close">&times;</a>
            </div>
        </form>
        {{/unless}}
    </div>


</section> 